:root {
    --branco-principal: rgb(255, 255, 255);
    
}
.secundario__imagem {
    width: 80%;
}

.secundario {
    align-items: center;
    margin: 0 10em;
}

.descricao__titulo {
    font-weight: 800;
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    margin-left: 0.1em;
    margin-right: 0.5em;
}

.descricao__texto{
    color:blue;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    margin-left: 0.1em;
    margin-right: 0.5em;
}


.container__descricao2 {
    padding: 2em;
    color:aqua;
}

body {
    background: violet;
}

.secundario__botao {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/1/1f/Stylised_atom_with_three_Bohr_model_orbits_and_stylised_nucleus.png/250px-Stylised_atom_with_three_Bohr_model_orbits_and_stylised_nucleus.png);
    display: block;
    margin-top: 1em;
    width: 50px;
    height: 50px;
    
}